/crash-reports/
/asm/
/bin/
/build/
/config/
/eclipse/
/gradle/
/logs/
/mods/
/.gradle/
/.settings/
/resourcepacks/
/saves/
/.classpath
/.project
/gradlew
/gradlew.bat
/screenshots/
options.txt
usernamecache.json
*.jar