/bin/
/build/
/config/
/eclipse/
/gradle/
/logs/
/mods/
/.gradle/
/.settings/
/resourcepacks/
/saves/
/.classpath
/.project
/gradlew
/gradlew.bat
/bin/
/crash-reports/
/options.txt
/usernamecache.json
